 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Open Sans', sans-serif, 'Roboto';
     color: #12141D;

 }


 .top-banner {
     background: #F7931A;
     color: white;
     text-align: center;
     padding: 10px;
     font-size: 15px;
 }


 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 18px 70px;
 }


 .logo {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .logo img {
     width: 132px;
     height: 29px;
     vertical-align: middle;
 }



 nav .menu {
     display: flex;
     list-style: none;
     gap: 40px;
     font-size: 15px;
 }

 nav .menu li:hover {
     cursor: pointer;
 }


 .dropdown {
     position: relative;
 }

 .dropdown-menu {
     position: absolute;
     top: 22px;
     left: 0;
     background: white;
     border: 1px solid #ddd;
     width: 220px;
     padding: 8px 0;
     display: none;
     z-index: 100;
 }

 .dropdown-menu li {
     padding: 10px 14px;
     font-size: 14px;
     cursor: pointer;
 }

 .dropdown:hover .dropdown-menu {
     display: block;
 }

 .dropdown-menu li:hover {
     background: #e9e9e9;
 }


 .lang-menu {
     height: 300px;
     overflow-y: auto;
     width: 260px;
 }


 .hero {
     text-align: center;
     margin-top: 80px;
 }

 .hero h1 {
     font-family: 'Montserrat', sans-serif;
     font-size: 44px;
     font-weight: 500;
     line-height: 1.3;
 }

 .buttons {
     margin-top: 40px;
     display: flex;
     justify-content: center;
     gap: 20px;
 }

 .btn {
     text-decoration: none;
     padding: 16px 28px;
     font-size: 15px;
     border-radius: 4px;
 }

 .primary {
     background: #F7931A;
     color: white;
 }

 .outline {
     border: 2px solid #F7931A;
     color: #F7931A;
 }

 .what-bitcoin {
     margin-top: 55px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 14px;
 }

 .play-btn {
     width: 48px;
     height: 48px;
     background: #12141D;
     border-radius: 50%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     cursor: pointer;
 }

 .what-bitcoin span {
     font-size: 16px;
     color: #12141D;
     font-weight: 500;
     cursor: pointer;
 }

 .play-btn:hover {
     opacity: 0.85;
 }

 .overview-section {
     position: relative;
     background: #12141D;
     text-align: center;
     padding-top: 200px;
     padding-bottom: 120px;
     margin-top: 120px;
     color: white;
     overflow: hidden;
 }


 .overview-section .bg-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 60%;
     background: url("https://bitcoin.org/img/hero/overview-bg-repeat.png") center/cover no-repeat;
     z-index: 1;
 }


 .overview-section h2 {
     position: relative;
     z-index: 2;
     font-family: 'Montserrat', sans-serif;
     font-size: 22px;
     margin-bottom: 40px;
 }


 .overview-cards {
     position: relative;
     z-index: 2;
     display: flex;
     justify-content: center;
     gap: 60px;
     margin-top: 30px;
 }


 .overview-cards .card {
     background: #171921;
     width: 230px;
     padding: 40px 20px;
     border-radius: 4px;
     text-align: center;
     border: 1px solid #1e1f26;
     transition: 0.3s;
 }

 .overview-cards .card:hover {
     border-color: #F7931A;
 }

 .overview-cards img {
     width: 50px;
     height: 50px;
     margin-bottom: 18px;
     filter: brightness(0) saturate(100%) invert(69%) sepia(68%) saturate(4743%) hue-rotate(3deg) brightness(99%) contrast(93%);
 }


 .overview-cards h3 {
     font-size: 17px;
     font-weight: 500;
     margin-bottom: 6px;
 }

 .overview-cards a {
     font-size: 14px;
     color: #d8d8d8;
     text-decoration: none;
 }


 .get-started-section {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 120px 120px;
     background: #fff;
 }

 .get-started-content {
     width: 50%;
     font-family: 'Montserrat', sans-serif;
 }

 .get-started-content h2 {
     color: #F7931A;
     font-size: 26px;
     margin-bottom: 22px;
     font-weight: 600;
 }

 .get-started-content p {
     color: #1c1c1c;
     line-height: 1.7;
     font-size: 15px;
     margin-bottom: 30px;
 }

 .features-list {
     list-style: none;
     margin-top: 20px;
 }

 .features-list li {
     display: flex;
     align-items: center;
     gap: 12px;
     margin-bottom: 18px;
     font-size: 15px;
     color: #1c1c1c;
     font-weight: 500;
 }

 .features-list img {
     width: 22px;
     height: 22px;
 }

 .get-started-image {
     width: 50%;
     display: flex;
     justify-content: center;
 }

 .get-started-image img {
     width: 380px;
 }

 .center-btn {
     text-align: center;
     margin-top: -40px;
     margin-bottom: 100px;
 }

 .start-btn {
     display: inline-block;
     background: #11141A;
     padding: 14px 32px;
     border-radius: 3px;
     color: #fff;
     text-decoration: none;
     font-size: 15px;
     font-weight: 500;
     transition: 0.3s;
 }

 .start-btn:hover {
     background: #000;
 }

 .btc-footer {
     background: #1b1d23;
     color: #c9c9c9;
     padding: 60px 0 40px;
     position: relative;
 }

 .btc-footer::before {
     content: "";
     position: absolute;
     inset: 0;
     background: url("https://bitcoin.org/img/hero/footer-bg.svg") no-repeat center top;
     background-size: 120%;
     opacity: 0.30;
 }

 .footer-wrap {
     position: relative;
     z-index: 10;
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 50px;
     padding: 0 40px;
 }

 .footer-col h4 {
     color: #ffffff;
     margin-bottom: 12px;
     font-size: 15px;
     font-weight: 500;
 }

 .footer-col a {
     display: block;
     text-decoration: none;
     color: #bdbdbd;
     margin: 6px 0;
     font-size: 14px;
 }

 .footer-col a:hover {
     color: #ffffff;
 }

 .footer-logo {
     width: 120px;
     margin-bottom: 15px;
 }

 .support-text {
     color: #ffffff;
     margin: 6px 0;
 }

 .donate-btn {
     background: #f7931a;
     color: #fff;
     padding: 9px 20px;
     display: inline-block;
     border-radius: 4px;
     margin: 10px 0;
     font-weight: 600;
     font-size: 14px;
 }

 .donate-btn:hover {
     background: #de7d14;
 }

 .btc-address {
     font-size: 13px;
     opacity: .85;
     line-height: 1.4;
 }


 .footer-bottom {
     max-width: 1200px;
     margin: auto;
     margin-top: 35px;
     padding-top: 20px;
     border-top: 1px solid #2e3138;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 14px;
     color: #bfbfbf;
 }

 .status-lang {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .green-dot {
     height: 8px;
     width: 8px;
     background: #25d366;
     border-radius: 50%;
 }


 @media(max-width:950px) {
     .footer-wrap {
         grid-template-columns: repeat(2, 1fr);
         gap: 30px;
     }

     .footer-bottom {
         flex-direction: column;
         gap: 10px;
         text-align: center;
     }
 }

 @media(max-width:550px) {
     .footer-wrap {
         grid-template-columns: 1fr;
     }
 }